.editor {
  &--controls {
    & > * {
      margin: .25rem;
    }
  }
  &--text {
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: .5rem;
    margin: 1rem 0;
    border-radius: 2px;
    box-shadow: inset 0px 1px 8px -3px #ABABAB;
    background: #fefefe;

  }
}